{% extends 'layout.html' %}

{% block body%}
<style>
    body {
      background-image: url('https://assets.website-files.com/611b82111c177de53409c4b5/61279f2e0c2bf63f579dfbb4_inventory-management.png');
    }
    </style><br><br>
<div class="jumbotron mt-4">
    <h7 class="display-4">Inventory Management System for Retailers</h7><br><br>
    {% if session.logged_in == NULL %}
        <center><a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a></center>
    {% endif %}<br>
</div>
{% endblock %}